<div class="mt-20">
  <h2 class="text-3xl text-center font-bold">Some of the Technologies Used</h2>
  <div class="flex justify-center">
    <ul class="grid grid-cols-5 items-center gap-12 p-12 bg-white rounded-xl mt-10">
      <li><%= image_tag 'ror_logo', class: "w-24" %></li>
      <li><%= image_tag 'tailwind_logo', class: "w-24" %></li>
      <li><%= image_tag 'devise_logo', class: "w-24" %></li>
      <li><%= image_tag 'gravatar_logo', class: "w-24" %></li>
      <li><%= image_tag 'heroku_logo', class: "w-24" %></li>
      <li><%= image_tag 'figaro_logo', class: "w-24" %></li>
      <li><%= image_tag 'omniauth_logo', class: "w-24" %></li>
      <li><%= image_tag 'postgres_logo', class: "w-24" %></li>
      <li><%= image_tag 'turbo_logo.avif', class: "w-24" %></li>
      <li><%= image_tag 'stimulus_logo', class: "w-24" %></li>
    </ul>
  </div>
</div>