<div class="flex items-center justify-center p-20">
  <div class="bg-white rounded-md p-3 flex flex-col justify-center">
    <div>
      <h2 class="font-semibold text-3xl">Edit your profile</h2>
      <p class="text-gray-400 italic text-sm">It's quick and easy.</p>
    </div>
    <hr class="dotted-line my-2">
    <%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
      <%= render "devise/shared/error_messages", resource: resource %>

      <div class="flex justify-between gap-2 w-full">
        <div class="field">
          <%= f.label :name, "Name:", class: "text-gray-800 italic font-extralight text-sm" %>
          <%= f.text_field :name,
                            autocomplete: "name",
                            autofocus: true,
                            class: "field-signup" %>
        </div>

        <div class="field">
        <%= f.label :name, "Last name:", class: "text-gray-800 italic font-extralight text-sm" %>
          <%= f.text_field :last_name,
                            autocomplete: "last_name",
                            class: "field-signup" %>
        </div>
      </div>
    
      <div class="field mt-2">
        <%= f.label :email, "Email:", class: "text-gray-800 italic font-extralight text-sm" %>
        <%= f.email_field :email, autofocus: true, autocomplete: "email", class: "field-signup" %>
      </div>

      <div class="field mt-2">
        <%= f.label :dob, "Date of Birth: ", class: "text-gray-800 italic font-extralight text-sm" %>
        <%= f.date_field :dob, 
                          autocomplete: "dob",
                          class: "field-signup" %>
      </div>
      <div class="field">
        <% countries = ['cs', 'en_US', 'ru', 'uk', 'es', 'it', 'de', 'fr', 'en', 'pt'] %>
        <% flags = countries.map { |code| EmojiFlag.new(code) } %>
        <div class="mt-2 text-gray-500 field-signup">Country: <%= f.select(:country, options_for_select(flags.zip(countries))) %></div>
      </div>
    
      <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
        <div>Currently waiting confirmation for: <%= resource.unconfirmed_email %></div>
      <% end %>
    
      <div class="field mt-2">
        <%= f.label :password %> <i>(leave blank if you don't want to change it)</i><br />
        <%= f.password_field :password, autocomplete: "new-password", class: "field-signup" %>
        <% if @minimum_password_length %>
          <br />
          <em class="text-gray-800 italic font-extralight text-sm"><%= @minimum_password_length %> characters minimum</em>
        <% end %>
      </div>
    
      <div class="field mt-1">
        <%= f.label :password_confirmation %><br />
        <%= f.password_field :password_confirmation, autocomplete: "new-password", class: "field-signup" %>
      </div>
    
      <div class="field mt-2">
        <%= f.label :current_password %> <i class="text-gray-800 italic font-extralight text-sm">(we need your current password to confirm your changes)</i><br />
        <%= f.password_field :current_password, autocomplete: "current-password", class: "field-signup" %>
      </div>
    
      <div class="actions flex justify-center mt-2">
        <%= f.submit "Update", class: "button-login" %>
      </div>
    <% end %>
    
    <div class="flex justify-center"><%= button_to "Cancel my account", registration_path(resource_name), data: { confirm: "Are you sure?" }, method: :delete, class: "button-login bg-red-700 hover:bg-red-500" %></div>
      </div>
</div>
