<div class="flex flex-col items-center justify-center mt-12">
  <%= image_tag @user.gravatar_url, class:"w-32 avatar-round mb-6" %>
  <p class="font-bold text-4xl"><%= @user.name %> <%= @user.last_name %></p>
</div>
<div>
  Friends: 
  <% @friends.each do |friend| %>
    <div>
      <%= image_tag friend.gravatar_url, class: "avatar-round" %>
      <%= friend.name[0] %>. <%= friend.last_name %>
    </div>
  <% end %>
</div>
