<div class="flex flex-col justify-center items-center mt-16 gap-3 pb-8">
  <div class="flex flex-col items-center justify-center mt-12 gap-4">
    <div class="flex justify-center items-center gap-2 mb-6">
      <%= image_tag @user.gravatar_url, class:"w-32 avatar-round" %>
      <div class="flex flex-col items-start justify-start gap-1">
        <p class="font-bold text-3xl"><%= @user.name %> <%= @user.last_name %></p>
        <div class="shadow-md bg-white rounded-md p-4 w-64">
          <p>Country: <%= @flag %></p>
          <hr class="dotted-line">
          <p>Birthday: <%= @user&.dob.strftime("%-d %B")%></p>
          <hr class="dotted-line">
          <p>Age: <%= ((Time.zone.now - @user.dob.to_time)/1.year.seconds).floor %></p>
        </div>
      </div>
    </div>
  </div>
  <% unless @user == current_user %>
    <%= render 'friend_button', user: @user, invitation: @invitation, invitation_not_sent: @invitation_not_sent %>
  <% end %>
  <div class="flex flex-col space-between gap-3">
    <% unless @friends.empty? %>
      <div>
        <div>
          <h2 class="self-left w-96 font-semibold">Friends:</h2>
        </div>
        <div class="shadow-md bg-white rounded-md p-2 w-96 grid grid-rows-2 grid-flow-col overflow-y-scroll gap-2 h-36">
          <%= render 'friends' %>
        </div>
      </div>
    <% else %>
      <p class="text-center bg-gray-50 rounded-md shadow-md p-2 w-96 hover:bg-gray-50 hover:shadow-xl transition-all"><%= @user.name %> has no friends yet 😔</p>
    <% end %>
    <% unless @user.posts.empty? %>
      <div>
        <div>
          <h2 class="self-left w-96 font-semibold" >Posts: </h2>
        </div>
        <div class="shadow-md bg-white rounded-md p-2 w-96 flex flex-col overflow-y-scroll gap-2 h-36">
          <% @user.posts.each do |post| %>
            <div>
              <%= post.body %>
            </div>
            <hr class="dotted-line">
          <% end %>
        </div>
      </div>
    <% else %>
      <p class="text-center bg-gray-50 rounded-md shadow-md p-2 w-96 hover:bg-gray-50 hover:shadow-xl transition-all"><%= @user.name %> has no posts yet 😢</p>
    <% end %>
  </div>
</div>
