<div class="flex flex-col bg-white p-4 rounded-xl my-4">
  <div class="flex">
    <%= link_to user_path(post.user) do %>
      <%= image_tag post.user.gravatar_url, class: "avatar-round" %>
    <% end %>
    <div class="px-2">
      <p class="font-semibold"><%= post.user.name %> <%= post.user.last_name %></p>
      <p class="font-extralight text-sm"><%= post.created_at.strftime("%e of %B at %H:%M") %></p>
    </div>
  </div>
  <div class="mt-2">
    <%= post.body %>
  </div>
  <div class="flex gap-2 items-center mt-4">
    <% unless post.likes.count == 0 %>
      <p class="font-light italic text-sm"><%= pluralize(post.likes.count, 'user') %> liked it: </p>
    <% end %>
    <% post.likes.each do |like| %>
      <%= link_to user_path(like.user) do %>
        <%= image_tag like.user.gravatar_url, class: "avatar-round w-6" %>
      <% end %>
    <% end %>
  </div>
  <% if !post.liked?(current_user) %>
    <%= form_with model: @like, url: likes_create_path, method: :post, class: "mt-2" do |like_form| %>
      <%= like_form.hidden_field :user_id, value: current_user.id %>
      <%= like_form.hidden_field :reference_id, value: post.id %>
      <%= like_form.hidden_field :reference_type, value: "Post" %>
      <div class="flex items-center gap-2">
        <%= like_form.submit 'Like', class:"button-like" %>
      </div>
    <% end %>
  <% else %>
    <div class="mt-2">
      <%= button_to 'Unlike', likes_destroy_path(reference_id: post.id,
                                                 user_id: current_user.id),
                              method: :post, class: "button-like" %>
    </div>
  <% end %>
</div>
