<div class="flex flex-col max-w-xs p-4 gap-2">
  <div class="flex flex-col">
    <%= link_to '', class: "sidemenu-option" do %> 
      <%= image_tag('home', class: "w-7") %>Home
    <% end %>
    <%= link_to '', class: "sidemenu-option" do %> 
      <%= image_tag('my_avatar', class: "avatar-round w-7") %>Vadim Strogonov
    <% end %>
    <hr class="h-[1px] border-none text-gray-300 bg-gray-300">
    <%= link_to '', class: "sidemenu-option" do %> 
      <%= image_tag('play', class: "w-7") %>Watch
    <% end %>
    <%= link_to '', class: "sidemenu-option" do %> 
      <%= image_tag('candidates', class: "w-7") %>Friends
    <% end %>
    <%= link_to '', class: "sidemenu-option" do %> 
      <%= image_tag('booth', class: "w-7") %>Marketplace
    <% end %>
    <%= link_to '', class: "sidemenu-option" do %> 
      <%= image_tag('joystick', class: "w-7") %>Gaming
    <% end %>
    <%= link_to '', class: "sidemenu-option" do %> 
      <%= image_tag('menu', class: "w-7") %>See all
    <% end %>
    <hr class="h-[1px] border-none text-gray-300 bg-gray-300">
  </div>
  <div class="font-light text-md">
    <%= link_to 'Author', '', class: "small-font-links" %>
    <%= link_to 'Icons', '', class: "small-font-links" %>
    <%= link_to 'Tech Stack', '', class: "small-font-links" %>
  </div>
</div>