<div class="flex justify-between h-14 items-center bg-white shadow-md px-4">
  <%= link_to 'tvářbook', root_path, class: "font-bold text-blue-500 text-3xl w-36" %>
  <div class="flex w-[590px] items-center justify-center bg-gray-200 hover:bg-gray-300 rounded-full px-3">
    <%= image_tag('magnifying-glass', class: "w-auto h-4")%>
    <input type="search" name="search" id="search" class="input-field" placeholder="Search Tvářbook">
  </div>
  <div class="flex items-center justify-between w-36">
    <%= link_to image_tag('messenger', class: "button-navbar") %>
    <div data-controller="invitations" data-invitations-friends="<%= current_user.pending_invitations.to_a %>">
      <div data-invitations-target = "notification">
        <% if current_user.pending_invitations.empty? %>
          <%= image_tag('bell', class: "button-navbar hover:cursor-pointer", data: { action: "click->invitations#pop" }) %>
        <% else %>
          <%= image_tag('notification', class: "button-navbar hover:cursor-pointer", data: { action: "click->invitations#pop" }) %>
        <% end %>
      </div>
    </div>
    <div data-controller="logout">
      <div data-logout-target = "avatar">
        <%= image_tag(current_user.gravatar_url, class: "avatar-round hover:cursor-pointer", data: { action: "click->logout#pop" }) %>
      </div>
    </div>
  </div>
</div>
