<!DOCTYPE html>
<html>
  <head>
    <title>Tvarbook</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag "tailwind", "inter-font", "data-turbo-track": "reload" %>
    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Exo:wght@100;200;300;600;800&display=swap" rel="stylesheet">
    <%= javascript_importmap_tags %>
  </head>
  <body>
    <main class="font-exo">
      <%= yield %>
    </main>
  </body>
</html>
